<%- include('header'); -%>
<strong>How to view the solution:</strong> Click play to view the sequence of moves the algorithm performs to find a global (or) local minima.
<hr />

<% if(  objFuncVal == 0 ){ %>
  <h3 class="global-minima">Global minima was found!</h3>
<% } else { %>
  <h3 class="local-minima">Local minima was reached.</h3>
<% } %>
<p>Minimized objective function value : <%= objFuncVal %></p>

<div class="container">
  <div class="d-flex justify-content-between">
    <input id="disable-queen-place" type="hidden" value=<%= solnSteps %>></input>
    <a id="back-button" href="/" class="btn solution-btn btn-outline-dark">Back</a>
    <button id="play-btn" type="button" class="btn solution-btn btn-success">Play</button>
  </div>
</div>


<%- include('footer'); -%>
